.carousel {
  margin-top: 10px; }
  .carousel .carousel-inner {
    padding: 5px;
    margin: 5px; }

.conteiner {
  color: #020253;
  font-family: Arial, Helvetica, sans-serif; }
  .conteiner .texto {
    text-align: center;
    font-size: 3em; }
  .conteiner .razones {
    margin: 15px; }
  .conteiner .tiporazon {
    margin: 15px; }

.navbar {
  background-color: rgba(23, 23, 250, 0.315); }

.texto2 {
  text-align: center;
  margin: 15px; }

.texto {
  display: flex;
  width: 600px;
  height: 40px;
  font-size: 40px;
  line-height: 40px;
  position: static;
  right: 0;
  left: 0;
  margin: auto;
  overflow: hidden; }
  .texto ul {
    list-style: none;
    animation: cambiar 7s infinite; }

@keyframes cambiar {
  0% {
    margin-top: 0; }
  20% {
    margin-top: 0; }
  25% {
    margin-top: -40px; }
  50% {
    margin-top: -40px; }
  55% {
    margin-top: -80px; }
  80% {
    margin-top: -80px; }
  85% {
    margin-top: -40px; }
  95% {
    margin-top: -40px; }
  100% {
    margin-top: 0px; } }

.slide img {
  height: 65vh; }
